{% extends '_layouts/_admin.html.twig' %}

{% block title 'Categories' %}
{% block h1 'Categories' %}

{% block body %}
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Categories</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
                            <th>Parent</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}
							<tr>
								<td>{{category.name}}</td>
                                <td>{{category.parent ? category.parent.name : "<span class='badge alert-secondary'>null<span>"}}</td>
								<td class="d-grid gap-2 d-block">
									<a class="btn btn-warning" href="{{ path('admin_category_edit', {'id': category.id}) }}">Edit</a>
									<a class="btn btn-secondary" href="{{ path('admin_category_show', {'id': category.id}) }}">Show</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="9">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
