{% extends '_layouts/_admin.html.twig' %}

{% block title 'New User' %}
{% block h1 'New User' %}

{% block body %}
	<a href="{{ path('admin_user_index') }}">back to list</a>
	<div class="container">
		{{ include('admin/user/_form.html.twig') }}
	</div>
{% endblock %}
